.show-wrap
	margin-bottom 20px
	.img-wrap
		display flex
		height 220px
		width 220px
		padding 5px 
		border 3px solid white
		border-radius 100%
		margin 0 auto
		position relative
		transition all 0.8s ease
		img:not(.pink-plus)
			height 100%
			width 100%
			border-radius 100%
			object-fit cover
		.hover-efect
			position absolute
			top 0
			left 0
			height 100%		
			width 100%
			background rgba(0, 0, 0,0.4)
			z-index 3
			display none
			border-radius 100%
			@media (max-width 767px)
				display none !important
		.icon-container
			position absolute
			background var(--color1-x1)
			min-width 3em
			min-height 3em
			top 41%
			left 41%
			display none
			span
				color white
				font-size 1.4em
		&:hover, &:focus
			.hover-efect
				display block
			.icon-container
				display inline-flex
	@media (max-width 967px)
		.img-wrap
			height 140px
			width 140px
			margin 10px 20px 20px 0 !important
		
	//show description styles
	.show-desc
		h5 
			color white
			font-family 'CeraProBold'
			margin 15px 0
		p 
			color white
			margin-bottom 0
			line-height 1
		.highlighted-text
			font-family 'CeraProBold'
		.rss-tag
			background white
			display flex
			align-items center
			width max-content
			padding 5px 15px
			border-radius 50px
			margin 15px auto
			.icon-container
				background var(--color1-x1)
				min-width 1.5em
				min-height 1.5em
				margin-right 5px
				span
					color white
					font-size 0.9em
			p 
				margin-bottom 0
				font-size 0.75em
				color var(--color1-x1)
		@media (max-width 767px)
			text-transform none
			.highlighted-text
				font-size 0.9em
			.show-date, .show-time
				font-size 0.85em
			.rss-tag
				margin-top 10px !important
		
