.footer-container
	background linear-gradient(top, var(--color1-x1), var(--color1-x0))
	padding-top 35px
	position relative
	z-index -2
	.container-fluid
		z-index 1
	.footer-bg-image
		position absolute
		height 577px
		width 815px
		right 0
		bottom 0
		opacity .6
		z-index -1
		@media (max-width 767px)
			display none
	.main-footer
		.logo-container
			margin-bottom 20px
		.nav-rss-footer
			margin-bottom 25px
			.nav-footer-title
				color white
				text-transform uppercase
				font-family 'CeraProBold'
				margin-bottom 15px
				font-family 'CeraProBold'
				font-size 1.1em !important
			.nav-link
				color white
				padding .2rem 1rem
				font-size .9em
				&:not(:first-child)
					text-transform none !important 
			.main-rss
				text-align end
				.icon-container
					background-color white
					min-width 2.3em
					min-height 2.3em
					text-decoration none
					&:not(:last-child)
						margin-right 5px
					span
						color var(--color1-x1)
						font-size 1.4em
				@media (max-width 967px)
					text-align center
			@media (max-width 967px)
				text-align center !important
				.nav-footer-title
					margin-bottom 15px
				.nav
					margin-bottom 30px
				.nav-link
					line-height 1.2
			.sites-network
				@media (max-width 967px)
					.nav 
						margin-bottom 15px !important
					.nav-footer-title
						width 100%
					.nav-item
						margin-bottom 10px
					.nav-item:not(:first-child) 
						border-right 1px solid white
				
	.logos-footer-container
		background rgba(0,0,0 ,0.2)
		padding 20px 0
		.logos-footer-contain
			display flex
			justify-content space-between
			align-items center
			a 
				margin-bottom 20px
				text-align center
			.candela-logo
				height 83px
		@media (max-width 767px)
			.col-xs-4
				text-align center
			.candela-logo
				height 60px !important
				width 100%
			img
				width 95%
			
	.company-container
		background rgba(244, 13, 117, 0.5)
		.company-footer
			color white
			display flex
			align-items center
			justify-content center
			margin-bottom 0
			padding-top 15px
			padding-bottom 15px
			p 
				margin 0
			img
				margin-right 20px
				
