.header-container
	padding 25px 0
	background white
	margin-top -1px
	@media (max-width 767px)
		padding 15px 0
	.logo-desktop-container
		align-self center
		transition all .3s ease
	.box-container
		@media (max-width 967px)
			justify-content space-between
		.box-sm-wrap
			@media (max-width 967px)
				width 100%
		.play
			font-size 0.7em
			line-height 1.2
		.live
			font-size 0.7em
			line-height 1.2
			margin-right 0 !important
		.box-desc
			width 70%
			height 44px
			overflow hidden
			box-sizing border-box
			padding-left 8px !important
			display flex
			justify-content center
			flex-direction column
			p 
				height 100%
				display flex
				align-items center
			@media (max-width 767px)
				width 100%
	.search-box
		display unset
		.icon-container
			z-index 2
			border none
			&:focus
				outline none
		input
			display none 
			position absolute
			z-index 3
			height 35px
			width auto
			border 2px solid var(--color2-x0)
			border-left none
			border-radius 35px
			background white
			top -9px
			transition display .5s ease
			&:focus
				box-shadow none 
	.main-rss
		align-self center
		text-align end
		padding-left 0
		@media (max-width 967px)
			text-align center
	.header-nav
		margin-top 30px
		width 100%
		border-top 5px solid var(--color2-x0)
		border-bottom 5px solid var(--color2-x0)
		.nav-link
			color var(--color2-x2)
			display flex
			align-items center
			justify-content center
			width 11%
			font-family 'CeraProBold'
			padding 15px 0px
			&:hover, &:active, &:focus, &:focus-within
				color var(--color1-x1)
				border none
				outline-offset 0px
				transition background .5s ease
		.our-city
			width 18%
	.banner-lg
		margin-top 30px
		margin-bottom 0
	//mobile styles
	.mobile-menu-container
		display flex
		justify-content space-between
		margin-top 15px
		.icon-menu
			color var(--color2-x2)
			font-size 2.2em
		img
			height 34px
		.btn
			padding 0
			line-height 1
			height 35px
			display flex
			align-self center
			&:focus
				box-shadow none
				span
					color var(--color1-x1)
	.dropdown-toggle::after
		display none
	.dropdown-menu-custom
		box-shadow none
		// left -16px !important
		padding 10px 15px
		// top 13px !important
		height 100%
		width 80%
		background white
		.icon-cerrar
			color var(--color2-x2)
			float right
			padding 10px 0px
		.dropdown-item
			color var(--color2-x2)
			font-family 'CeraProBlack'
			height 3em
			display flex
			align-content
			&:hover
				color var(--color1-x1)
				background none
		.active
			color var(--color1-x1)
			background none
		.main-rss
			margin-top 15px  
	#collapseSearch
		margin 15px 0
		.form-control
			background var(--color1-x1)
			border 1px solid var(--color1-x1)
			color white
			&:focus
				box-shadow none
		::-webkit-input-placeholder {
		  color: white;
		}
		:-moz-placeholder {
		  color: white;
		}
		::-moz-placeholder {
		  color: white;
		}
		::placeholder {
		  color: white;
		}
		:-ms-input-placeholder {
		  color: white;
		}
		#button-addon2
			background var(--color1-x1) 
			border 1px solid var(--color1-x1)
			.icon-search
				color white
	transition all 0.3s ease

#nav-open-bg
	@media (max-width 767px)
		margin-top 128px 
				
.fixed-dropdown
	position relative
	display none
	align-self center
	justify-content center
	.btn
		padding 0
		line-height 1
		height auto
		font-size 1.8em
		color var(--color2-x2)
		&:focus
			box-shadow none
			span
				color var(--color1-x1)
		transition all .3s ease
		@media (max-width 767px)
			display none !important 
	#fixed-menu-dropdown
		position absolute
		top 30px !important
		left -1px !important
		.dropdown-menu-custom
			width 100%
			
.scroll-none
	transition all 0.4s ease
	opacity 1
	overflow hidden
	&.hide
		opacity 0
		height 0
		transition height 0.4s ease
		
#nav-dropdown
	background-color rgba(0,0,0,0.5)
	height 100%
	top 126px !important
	padding 0
	border-radius 0
	width 101vw
	margin 0
	left -7px !important
	position fixed !important
	transform none !important