.header-container
	padding 25px 0
	@media (max-width 767px)
		padding 15px 0
	.logo-desktop-container
		align-self center
	.box-container
		@media (max-width 767px)
			justify-content space-between
		.box-sm-wrap
			@media (max-width 967px)
				width max-content
		.play
			font-size 0.7em
			line-height 1.2
		.live
			font-size 0.7em
			line-height 1.2
			margin-right 0 !important
		.box-desc
			overflow hidden
			padding-left 8px !important
			p
				text-overflow elipsis
	.search-box
		display unset
		.icon-container
			z-index 2
		input
			height 100%
			border 1px solid var(--color2-x0)
			border-left none
			border-radius 35px
			display none
			z-index 3
			background transparent
			margin-left -10px
			padding-left 19px
	.main-rss
		align-self center
		text-align end
		padding-left 0
		@media (max-width 967px)
			text-align center
	.header-nav
		margin-top 30px
		width 100%
		border-top 5px solid var(--color2-x0)
		border-bottom 5px solid var(--color2-x0)
		.nav-link
			color var(--color2-x2)
			display flex
			align-items center
			justify-content center
			width 11%
			font-family 'CeraProBold'
			padding 15px 0px
			&:hover, &:active, &:focus, &:focus-within
				color var(--color1-x1)
				border none
				outline-offset 0px
				transition background .5s ease
		.our-city
			width 18%
	.banner-lg
		margin-top 30px
		margin-bottom 0
	//mobile styles
	.mobile-menu-container
		display flex
		justify-content space-between
		padding-bottom 15px
		margin-top 15px
		border-bottom 1px solid var(--color2-x0)
		height 52px
		.icon-menu
			color var(--color2-x2)
			font-size 2.2em
		img
			height 34px
		.btn
			padding 0
			line-height 1
			&:focus
				box-shadow none
				span
					color var(--color1-x1)
	.dropdown-toggle::after
		display none
	.dropdown-menu
		box-shadow 0 0 0 0.2rem rgba(0,123,255,.25)
		left -11px !important
		width 280px
		.icon-cerrar
			color var(--color2-x2)
			float right
			padding 20px 20px 20px 0
		.dropdown-item
			color var(--color2-x2)
			font-family 'CeraProBold'er
			height 3em
		.active
			color var(--color1-x1)
			background none
	#collapseSearch
		margin 15px 0
		.form-control
			background var(--color1-x1)
			border 1px solid var(--color1-x1)
			color white
			&:focus
				box-shadow none
		::-webkit-input-placeholder {
		  color: white;
		}
		:-moz-placeholder {
		  color: white;
		}
		::-moz-placeholder {
		  color: white;
		}
		::placeholder {
		  color: white;
		}
		:-ms-input-placeholder {
		  color: white;
		}
		#button-addon2
			background var(--color1-x1) 
			border 1px solid var(--color1-x1)
			.icon-search
				color white	
				
			