// first slider
.mobile-wrap
	@media (max-width 967px)
		padding 0
.slider-news-section
	margin-bottom 25px
	height 400px
	@media (max-width 967px)
		height auto
		margin-bottom 10px
	//Bootstrap carousel 1 overwrite
	.carousel-item.active
		display flex
		@media (max-width 967px)
			display initial 
	.slider-img-wrap
		padding-right 0
		padding-left 0
		width 100%
		height 100%
		object-fit cover
		@media (max-width 967px)
			height 235px
	.carousel-inner
		height 400px
		@media (max-width 967px)
			height auto	
	.carousel-item
		height 400px
		overflow hidden
		@media (max-width 967px)
			height auto
			overflow visible
	.carousel-control-prev, .carousel-control-next
		width 3%
		opacity 1
		@media (max-width 967px)
			width auto
			opacity 0.7
			// top -34%
	.carousel-control-prev
		left 0
	.carousel-control-next
		right 24.7%
		@media (max-width 967px)
			right 0
	.carousel-control-prev-icon, .carousel-control-next-icon
		background var(--color1-x1)
		background-image none
		width 30px
		height 28px
		@media (max-width 967px)
			top -19% !important
			position relative
	.carousel-control-prev-icon
		border-top-right-radius 10px
		border-bottom-right-radius 10px
		margin-left -6px
		@media (max-width 967px)
			margin-left 0
	.carousel-control-next-icon
		border-top-left-radius 10px
		border-bottom-left-radius 10px
		margin-left 1px
	.icon-arrow-left, .icon-arrow-right
		font-size 1em
		line-height 28px
	.carousel-indicators
		width 43%
		@media (max-width 967px)
			width auto
			top 49% !important
	//Carousel caption styles 
	.carousel-caption
		position relative 
		right 0 
		bottom 0 
		left 0 
		text-align left 
		background linear-gradient(top, var(--color1-x1), var(--color1-x0))
		z-index 1
		display flex
		align-items center
		transition all .5s ease
		@media (max-width 967px)
			padding-top 10px
			padding-bottom 10px
		.carousel-caption-wrap
			color white
			.caption-title 
				border 1px solid white
				border-radius 35px
				font-size 1.1em
				font-family 'CeraProBold'
				padding 5px 15px
				width max-content
				margin-bottom 15px
				@media (max-width 967px)
					font-size 1em
			.caption-desc
				font-family 'CeraProBold'
				font-size 1.3em
				text-transform none
				@media (max-width 967px)
					font-size 1.1em
			.date-time
				display flex
				align-items center
				font-size 0.85em
				.icon-clock
					margin-right 5px
				p 
					margin-bottom 0
				
//music (2nd) slider
.mobile-padding
	@media (max-width 967px)
		padding-left 0
		padding-right 0
.music-slider-container
	@media (max-width 967px)
		padding-top 15px 
		padding-bottom 15px
	.section-title-container
		@media (max-width 967px)
			position relative
			margin-bottom 15px
			text-align center
			justify-content center
			.section-title 
				width 100%
				span
					position relative
					left 0
					top 0
					font-size 16px
	.owl-carousel
		.item 
			width 100%
			.album-img
				height 147px
				width 192px
				@media (max-width 967px)
					height 115px
					width 160px !important
			.album-caption
				p 
					color white
					margin-bottom 0px
					font-size 0.8em
					font-family 'CeraProBold'
		.owl-nav
			margin-top 0
			.owl-prev, .owl-next
				background rgba(250,250,250,0.6) !important
				color var(--color1-x1) !important
				width 30px !important
				height 28px !important
				font-size 40px !important
				line-height 20px !important
				border none !important
				&:active, &:focus
					border none !important
					outline none !important
				span 
					position absolute
					top 2px
			.owl-prev
				position absolute
				top 25%
				left -28px
				border-top-left-radius 0
				border-bottom-left-radius 0
				border-top-right-radius 28px !important
				border-bottom-right-radius 28px !important
				span
					right 11px
				@media (max-width 967px)
					top -22%
					left -15px
			.owl-next
				position absolute
				top 25%
				right -28px
				border-top-left-radius 28px
				border-bottom-left-radius 28px
				border-top-right-radius 0px !important
				border-bottom-right-radius 0px !important
				span 
					left 11px
				@media (max-width 967px)
					top -22%
					right -15px
		.owl-dot
			&:focus, &:active
				outline none !important
			
.third-slider-container
	@media (max-width 967px)
		margin-bottom 15px
	h4
		font-family 'CeraProBold'
		color var(--color2-x2)
		margin-left 45px
		margin-bottom 20px
		margin-top 10px
	.main-card
		@media (max-width 967px)
			margin-bottom 10px
		.card-img-wrap
			img
				height 100%
				width 100%
				object-fit cover
				border-radius 8px
			@media (min-width 968px)
				height 150px
			@media (max-width 967px)
				height 190px
	.card-text
		font-family 'CeraProBold'
		height 100px !important
	.owl-nav
		display block !important
		.owl-prev, .owl-next
			width 30px !important
			height 28px !important
			font-size 2em !important
			line-height 0 !important
			border none !important
			span
				position absolute
				top 10px
			&:focus, &:active
				outline none
				border none
		.owl-prev	
			background var(--color2-x0) !important
			color var(--color2-x2) !important
			border-top-left-radius 0 !important
			border-bottom-left-radius 0 !important
			border-top-right-radius 28px !important
			border-bottom-right-radius 28px !important
			position absolute
			left 12px
			top -50px
			span
				right 12px
		.owl-next
			background var(--color1-x1) !important
			color white !important
			border-top-left-radius 28px !important
			border-bottom-left-radius 28px !important
			border-top-right-radius 0 !important
			border-bottom-right-radius 0 !important
			position absolute
			right 12px
			top -54px
			span
				left 12px