.btn-center
	margin 0 auto
	
//site icon buttons styles
.icon-container
	background-color var(--color2-x2)
	span
		color  white
		font-size 1.2em
	&:hover
		background-color var(--color1-x1)
		text-decoration none
		transition all .3s ease

// Live box and search form default styles
.box-container
	display flex
	align-self center
	justify-content flex-end
	white-space nowrap
	overflow hidden
	text-overflow ellipsis 
	.box-sm-wrap
		display flex
		border 2px solid var(--color2-x0)
		display flex
		align-content center
		width 220px
		height 48px
		margin-right 10px
		border-radius 48px
		.addon-circle
			display flex
			justify-content center
			min-width 48px !important
			min-height 48px !important
			border-radius 48px
			background var(--color2-x0)
			margin-top -2px
			margin-left -2px
			span 
				font-size 2em
				align-self center
				color var(--color2-x2)
			&:hover
				background var(--color1-x1)
				text-decoration none
				transition all .3s ease
				span
					color white
		.box-desc
			padding 3px 
			align-self center
			p
				margin 0
				font-family "CeraProBold"
			.on-air 
				.on-air-state
					color var(--color1-x1)
				.on-air-desc, .song
					color var(--color2-x2)
				.show
					color #434B46
			.song
				font-family "CeraPro"
		.live-box 
			color var(--color2-x2)
	@media (max-width 967px)
		white-space normal
		width auto !important 
				
//Banner styles			
.banner-lg
	text-align center
	margin-top 40px
	height 90px
	width 970px
		img
			heigh 100%
			width 100%
			object-fit cover
		
.banner-xl
	margin-bottom 45px
	text-align center
	height 120px
	width 980px
	img
		heigh 100%
		width 100%
		object-fit cover
	@media (max-width 967px)
		display none
			
// titles default styles
.section-title-container
	position relative
	z-index 1
	display flex
	align-items center
	justify-content space-between
	margin-bottom 25px
	.section-title
		h2
			
			font-family 'CeraProBold'
			color #F0EFEF
			font-size 3.5em
			z-index 2
		.subtitle
			position absolute
			left 18px
			top 12px
			font-family 'CeraProBold'
			color var(--color2-x1)
			font-size 1.9em
			z-index 3
	.view-more
		height 35px
		display flex
		align-items center
		width max-content
		border 1px solid white
		border-radius 48px
		padding 5px 15px
		color white
		font-size 0.9em
		
//defaul card styles
.main-card
	margin-bottom 20px
	text-decoration none
	border-radius 10px
	border 2px solid var(--color2-x0)
	.card-img-top
		@media (max-width 967px)
			height 200px
			object-fit cover
	.card-body
		height 155px
		overflow hidden
		display inline-grid
		@media (max-width 967px)
			height auto
		.card-title
			font-family 'CeraProBold' 
			font-size 0.9em
			color var(--color1-x1)
		.card-text
			font-family 'CeraProBold'
			font-size 0.85em
			margin-bottom 5px
			color var(--color2-x1)
			overflow hidden
			text-overflow ellipsis
			text-transform none
		.card-sub-text
			font-size 0.75em
			margin-bottom 0
			overflow hidden
		.show-social-media
			color: var(--color2-x0)
			font-size 0.8em
			margin-bottom 0
		.date-time
			display flex
			align-items flex-end
			color var(--color2-x1)
			font-size 0.8em
			.date
				line-height 1
			.icon-clock
				margin-right 8px
		