@import "icons/_icons.styl"

@font-face
    font-family 'CeraPro'
    src: url('../fonts/cera_pro_0-webfont.woff2') format('woff2'), url('../fonts/cera_pro_0-webfont.woff') format('woff'), url('../fonts/cera_pro_bold_2-webfont.woff2') format('woff2'), url('../fonts/cera_pro_bold_2-webfont.woff') format('woff'), url('../fonts/cera_pro_italic_0-webfont.woff2') format('woff2'), url('../fonts/cera_pro_italic_0-webfont.woff') format('woff'),  url('../fonts/cera_pro_black_0-webfont.woff2') format('woff2'), url('../fonts/cera_pro_black_0-webfont.woff') format('woff');

@font-face
	font-family 'dps'
	src url(icomoon-font-path + '/dps.eot?5wh8nz')
	src url(icomoon-font-path + '/dps.eot?5wh8nz#iefix') format('embedded-opentype'), url(icomoon-font-path + '/dps.ttf?5wh8nz') format('truetype'), url(icomoon-font-path + '/dps.woff?5wh8nz') format('woff'), url(icomoon-font-path + '/dps.svg?5wh8nz#dps') format('svg')
	font-weight normal
	font-style normal
