@import "main.styl" 
@import "partials/_small-components.styl"
@import "partials/_sliders.styl"
@import "partials/_aside-section.styl"

//default styles in _small-components
.main-card
	.card-body
		padding 15px 10px 
	.card-text 
		height 60px
		
.music-slider-container
	background linear-gradient(top, var(--color1-x1), var(--color1-x0))
	border-radius 5px
	.section-title-container
		padding-right 15px
		@media (max-width 767px)
			padding-right 0
		.section-title
			padding 0 15px
			span 
				color white
			h2
				color var(--color1-x0)
				letter-spacing -4px
	.owl-dots
		margin-top 15px !important
		@media (min-width 767px)
			padding-bottom 10px
	.view-more
		@media (max-width 767px)
			margin-top 10px
	.owl-carousel
		width 95%
		margin 0 auto
		
.banner-lg
	height auto
	margin 20px auto

.more-news
	@media (max-width 967px)
		margin-top 15px
	.card
		@media (max-width 967px)
			flex-direction unset
			height 135px
			img
				width 40%
				height 100%
				object-fit cover
			.card-body
				width 60%
			.date-time
				justify-content flex-end
	.card-body
		@media (min-width 967px)
			height 115px !important
	.card-text
		margin-top 5px
		height 60px 
	