@import "nib"
@import "base/*.styl"
@import "icons/*.styl"

@import "partials/_header.styl"
@import "partials/_footer.styl"

body
	font-family "CeraPro"
	font-weight normal
	font-style normal
	height 100%
	text-transform uppercase
	footer
		text-transform none

.banner-container
	@media (max-width 967px)
		display none
		
.container
	max-width 1250px
	
h2
	margin-bottom 0
	
a 
	text-decoration none !important
	
.section-title-container
	@media (max-width 967px)
		margin-bottom 10px !important
        
.site-parallax
	background-image url($img"parallax.png")
	background-attachment fixed
	background-position right top
	background-repeat no-repeat
	background-size 30%
	@media (max-width 767px)
		background-image none