@import "main.styl" 
@import "partials/_small-components.styl"
@import "partials/_aside-section.styl"
@import "partials/_pagination.styl"

// overwrite styles on _small-components.styl
.main-card
	.card-title
		font-size 1.2em !important
	.card-text
		font-size 1em !important
		height 52px
	.date-time
		font-size 0.9em !important
	.card-img-wrap
		@media (min-width 968px)
			height 230px
		@media (max-width 967px)
			height 200px
		img
			height 100%
			width 100%
			object-fit cover
			border-radius 8px 
		
.last-songs-container
	.section-title
		.subtitle
			left 2px
