@import "main.styl" 
@import "partials/_small-components.styl"
@import "partials/_aside-section.styl"

.live-player-section
	background-image url($img"live-section-bg.png")
	background-size cover
	background-repeat no-repeat
	height 550px
	padding-top 25px
	padding-bottom 25px
	margin-bottom 25px
	.section-title-container
		margin-bottom 10px
		.section-title
			h2
				color rgba(250,250,250,0.4)
			span
				color white
				left 2px
				
.aside-section
	margin-top 10px
	.follow-us-container
		margin-top 20px