@import "main.styl" 
@import "partials/_small-components.styl"
@import "partials/_aside-section.styl"

.live-player-section
	background-image url($img"live-section-bg.png")
	background-size cover
	background-repeat no-repeat
	height 550px
	padding-top 25px
	padding-bottom 25px
	margin-bottom 25px
	.section-title
		h2
			color rgba(250,250,250,0.4)
		.subtitle
			color white
			left 2px
	.iframe-container
		height 400px
		iframe, img
			height 100%
			width 100%
			object-fit cover
		@media (max-width 767px)
			height 169px
	@media (max-width 767px)
		height 270px
		padding 15px
		.section-title-container
			margin-bottom 15px !important
			margin-top 10px

.hide-sm
	@media (max-width 767px)
		display none !important

.hide-xs
	@media (max-width 550px)
		display none !important

.card-img-wrap
	@media (min-width 968px)
		height 230px
	@media (max-width 967px)
		height 200px
	img
		height 100%
		width 100%
		object-fit cover
		border-radius 8px 
	
.more-news-section
	@media (max-width 767px)
		.card
			flex-direction unset
			.card-img-wrap 
				width 40%
				height 120px
			.card-body
				width 60%
				padding 10px
				.card-text
					font-family "CeraPro"
		.subtitle
			font-size 1.5em !important
	
			
.live-player-section, .more-news-section
	.section-title-container
		margin-bottom 10px
		.section-title
			.subtitle
				@media (max-width 767px)
					position relative
					top initial
					left initial
					line-height 1 
		
.banner-md-2
	@media (max-width 967px)
		display none

.aside-section
	margin-top 10px
	
