@import "main.styl" 
@import "partials/_small-components.styl"
@import "partials/_aside-section.styl" 
@import "partials/_circled-show-img.styl"

.show-wrap
	text-align center !important
	@media (max-width 575px)
		display flex
		text-align initial !important
		margin-bottom 30px
		.show-desc .rss-tag
			margin initial
		.show-desc
			display flow-root
			align-self center
	@media (max-width 485px)
		.show-desc
			width 150px
	// desktop styles
	.img-wrap
		border 3px solid #FA4C81 
	.show-desc
		text-transform none
		h5 
			color var(--color1-x1)
			text-transform uppercase
		p 
			color var(--color2-x2)
		.rss-tag
			background #F0EFEF
			.icon-container
				background var(--color2-x2)
				span
					color white
			p
				color var(--color2-x2)
	.pink-plus
		margin -2px auto 0 auto
		@media (max-width 767px)
			position absolute
			bottom -32px 
			left 43%
			height 30px
			width 30px
	
	