//Variables
icomoon-font-path ?= "../fonts/"

icon-wp = "\e900"
icon-gift = "\e902"
icon-horoscope = "\e903"
icon-feminist = "\e913"
icon-heart-and-flames = "\e914"
icon-arrow-right = "\e904"
icon-arrow-left = "\e905"
icon-arrow-top = "\e901"
icon-arrow-down = "\e906"
icon-person = "\e907"
icon-calendar = "\e908"
icon-camera = "\e909"
icon-eye = "\e90a"
icon-fb = "\e90b"
icon-ig = "\e915"
icon-search = "\e912"
icon-play = "\e911"
icon-clock = "\e910"
icon-spotify-sketch = "\e90f"
icon-tick = "\e90c"
icon-twitter = "\e90d"
icon-youtube = "\e90e"


[class^="icon-"], [class*=" icon-"]
    font-family 'dps' !important
    speak never
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    
.icon-container
    align-items center
    border-radius 2.1875em
    color white
    display inline-flex
    justify-content center
    line-height 1
    min-height 2.2em
    min-width 2.2em
    padding-bottom .08em
    padding-left .08em
    padding-right .08em
    padding-top .08em
    i
        flex-shrink 0
        margin-right .3em
    span 
        font-size 1.5em
        
.icon-wp
    &:before
        content icon-wp
.icon-gift
    &:before
        content icon-gift
.icon-horoscope
    &:before
        content icon-horoscope
.icon-feminist
    &:before
        content icon-feminist
.icon-heart-and-flames
    &:before
        content icon-heart-and-flames
.icon-arrow-right
    &:before
        content icon-arrow-right
.icon-arrow-left
    &:before
        content icon-arrow-left
.icon-arrow-top
    &:before
        content icon-arrow-top
.icon-arrow-down
    &:before
        content icon-arrow-down
.icon-person
    &:before
        content icon-person
.icon-calendar
    &:before
        content icon-calendar
.icon-camera
    &:before
        content icon-camera
.icon-eye
    &:before
        content icon-eye
.icon-fb
    &:before
        content icon-fb
.icon-ig
    &:before
        content icon-ig
.icon-search
    &:before
        content icon-search
.icon-play
    &:before
        content icon-play
.icon-clock
    &:before
        content icon-clock
.icon-spotify-sketch
    &:before
        content icon-spotify-sketch
.icon-tick
    &:before
        content icon-tick
.icon-twitter
    &:before
        content icon-twitter
.icon-youtube
    &:before
        content icon-youtube